@import "../../../colors.scss";

.mat-header-cell {
  text-align: center;
}

.technique-mappings-table {
  width: 96%;
  margin: 8px auto auto auto;
  table-layout: fixed;
  overflow: hidden;
  @include adaptive-color('background-color', white, color(dark-2));
  @include adaptive-color('color', #333, on-color(dark));
  
  th {
    @include adaptive-color('color', #333, on-color(dark));
    @include adaptive-color('background-color', #f5f5f5, color(dark-3));
  }
  
  td {
    @include adaptive-color('color', #333, on-color(dark));
    @include adaptive-color('border-bottom-color', #e0e0e0, color(dark-3));
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.technique-mappings-component-container {
  margin: 25px auto auto auto;
  width: 100%;
  padding-bottom: 20px;
  overflow-x: hidden;
  @include adaptive-color('color', #333, on-color(dark));
}

tr.technique-mappings-table-row {
  height: 1em;
  @include adaptive-color('background-color', transparent, color(dark-2));
}

.technique-mappings-table-header {
  height: 2em;
  @include adaptive-color('background-color', #f5f5f5, color(dark-3));
}

tr.technique-mappings-table-row:hover {
  @include adaptive-color('background-color', #f0f0f0, color(dark-3));
}

tr.technique-mappings-table-row.highlighted {
  background-color: #60c5ff;
  @include adaptive-color-dark-only('background-color', color(cell-highlight-dark-color));
}

.mat-column-framework {
  word-wrap: break-all !important;
  white-space: unset !important;
  width: 100px !important;
  overflow-wrap: break-all;
  word-wrap: break-all;

  word-break: break-all;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.technique-mappings-component {
  width: 450px;
  display: flex;
  flex-direction: column;
  @include adaptive-color('color', #333, on-color(dark));
}

tr.technique-mappings-component-detail-row {
  height: 0;
  
  td {
    max-width: 0;
    overflow: hidden;
  }
}

tr.technique-mappings-component-element-row:not(.technique-mappings-component-expanded-row):hover {
  @include adaptive-color('background-color', #f5f5f5, color(dark-3));
}

tr.technique-mappings-component-element-row:not(.technique-mappings-component-expanded-row):active {
  @include adaptive-color('background-color', #efefef, color(dark-4));
}

.technique-mappings-component-element-row td {
  border-bottom-width: 0;
  max-width: 0;
}

.technique-mappings-component-element-detail {
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 400px;
  box-sizing: border-box;
}

.technique-mappings-component-element-header {
  padding-top: 2px;
  font-weight: bold;
  font-size: 12px;
  @include adaptive-color('color', #333, on-color(dark));
}

.technique-mappings-component-element-content {
  font-weight: lighter;
  font-size: 12px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  max-width: 400px;
  @include adaptive-color('color', #555, on-color(dark));
}

.technique-mappings-component-element-content a {
  padding-right: 5px;
  @include adaptive-color('color', color(link), color(dark-link));
}

.technique-mappings-component-element-description-attribution {
  opacity: 0.5;
}

.technique-mappings-component button {
  font-size: 12px;
  margin: 10px 10px 0px 0px;
}

.technique-mappings-component-list-item {
  font-size: 12px;
  height: 2em !important;
}

.technique-mappings-component-container {
  height: 100%;
  overflow: auto;
}

.technique-mappings-component-threat-textarea {
  width: 98%;
  height: 4em;
}
