@import "../../colors.scss";

.mat-header-cell {
  text-align: center;
}

.mitigation-table {
  width: 96%;
  margin: 8px auto auto auto;
  @include adaptive-color('background-color', white, color(dark-2));
  @include adaptive-color('color', on-color(body), on-color(dark));
  
  th {
    @include adaptive-color('color', #333, on-color(dark));
    @include adaptive-color('background-color', #f5f5f5, color(dark-3));
  }
  
  td {
    @include adaptive-color('color', #333, on-color(dark));
    @include adaptive-color('border-bottom-color', #e0e0e0, color(dark-3));
  }
}

.mitigation-component-container {
  margin: 25px auto auto auto;
  width: 100%;
  @include adaptive-color('color', #333, on-color(dark));
}

tr.mitigation-table-row {
  height: 1em;
  @include adaptive-color('background-color', transparent, color(dark-2));
}

.mitigation-table-header {
  height: 2em;
  @include adaptive-color('background-color', #f5f5f5, color(dark-3));
}

tr.mitigation-table-row:hover {
  @include adaptive-color('background-color', #f0f0f0, color(dark-3));
}

tr.mitigation-table-row.highlighted {
  background-color: #60c5ff;
  @include adaptive-color-dark-only('background-color', color(cell-highlight-dark-color));
}

.mat-column-framework {
  word-wrap: break-all !important;
  white-space: unset !important;
  width: 100px !important;
  overflow-wrap: break-all;
  word-wrap: break-all;

  word-break: break-all;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mitigations-component {
  width: 450px;
  display: flex;
  flex-direction: column;
  margin:20px;
  @include adaptive-color('color', #333, on-color(dark));
}

tr.mitigations-component-detail-row {
  height: 0;
}

tr.mitigations-component-element-row:not(.mitigations-component-expanded-row):hover {
  @include adaptive-color('background-color', #f5f5f5, color(dark-3));
}

tr.mitigations-component-element-row:not(.mitigations-component-expanded-row):active {
  @include adaptive-color('background-color', #efefef, color(dark-4));
}

.mitigations-component-element-row td {
  border-bottom-width: 0;
}

.mitigations-component-element-detail {
  padding-top: 2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mitigations-component-element-header {
  padding-top: 2px;
  font-weight: bold;
  font-size: 12px;
  @include adaptive-color('color', #333, on-color(dark));
}

.mitigations-component-element-content {
  font-weight: lighter;
  font-size: 12px;
  @include adaptive-color('color', #555, on-color(dark));
}

.mitigations-component-element-content a {
  padding-right: 5px;
  @include adaptive-color('color', color(link), color(dark-link));
}

.mitigations-component-element-description-attribution {
  opacity: 0.5;
}

.mitigations-component button {
  font-size: 12px;
  margin: 10px 10px 0px 0px;
}

.mitigations-component-list-item {
  font-size: 12px;
  height: 2em !important;
  @include adaptive-color('color', #333, on-color(dark));
}

.mitigations-component-inner-container {
  height: 200px;
  overflow: auto;
}

.mitigation-component-threat-textarea {
  width: 98%;
  height: 4em;
  @include adaptive-color('background-color', white, color(dark-2));
  @include adaptive-color('color', #333, on-color(dark));
  @include adaptive-color('border-color', #ccc, color(dark-3));
}

// .mitigations-component-buttongroup {
  
// }

.no-scores-message {
  padding: 20px;
  margin: 16px 0;
  border-left: 4px solid #ff9800;
  border-radius: 4px;
  @include adaptive-color('background-color', #f5f5f5, color(dark-3));
  
  p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    @include adaptive-color('color', #555, on-color(dark));
  }
}